<div class="section h-100">
    <div class="container h-100 is-scrollable">
        <div class="columns is-space-evenly">
            {{#each model.events as |event|}}
                <div class="column is-half">
                    {{lf-card event=event}}
                </div>
            {{else}}
                <div class="column is-half">
                    <div>No current events!</div>
                </div>
            {{/each}}
        </div>
    </div> 
</div>
{{outlet}}
