<div class="section h-100">
    <div class="container h-100">
        <nav class="panel">
            <p class="panel-heading">Users</p>
            {{#each model as |item|}}
                <div class="panel-block is- is-space-evenly">
                    <span>{{item.id}}</span><span>{{item.name}}</span>
                </div>
            {{/each}}
        </nav>
    </div> 
</div>
